data/
logs/
wandb/
scripts/training/wandb/
scripts/testing_and_evaluation/wandb/
scripts/visualization/results/
scripts/testing_and_evaluation/results/
scripts/data_preprocessing/links_and_stats/
**/.ipynb_checkpoints/
**/__pycache__/